.section1-flex {
    display: flex;
    height: 300px;
    width: 75%
}

.section1-spacer-left {
    flex: 1 1 0;
}

.section1-left {
    flex: 1 1 0;
}

.section1-spacer-center {
    flex: 1 1 0;
    width: 25px;
}

.section1-right {
    flex: 1 1 0;
}

.section1-spacer-left {
 flex: 1 1 0;   
}

.image-1 {
    width: 420px;
}
