/*

dark background color (hero and footer)
#1F2937

Hero Main text ("this website is awesome")
49px extra-bold #F9FAF8

Hero Secondary text, Header Link Text
18px #E5E7EB

Header Logo Text
24px #F9FAF8

Button color, call to action background color
#3882F6

Information header text
36px extra-bold #1F2937

Quote section background color
#E5E7EB

Quote text
36px light italic #1F2937

*/

/*
body {
    
    background-color: whitesmoke;
    
}
*/

html {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header {
    background-color: #1F2937;
    color: white;
}

.header-container {
    display: flex;
    flex-direction: row;
    padding: 25px
}

.header-logo {
    flex: 1 1 0;
    /*
    width: 60%;
    */
    color: #F9FAF8;
    font-size: 24px;
}

.spacer {
    flex: 1 1 0;
}

.header-links {
    display: flex;
    flex: 1 1 0;
    align-items: center;
}

.header-link-1 {
    flex: 0 1 120px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.header-link-2 {
    flex: 0 1 120px;
    color: #E5E7EB;
}

.header-link-3 {
    flex: 0 1 120px;
    color: #E5E7EB;
}

.section1 {
    background-color: #1F2937;
    color: white;
    height: 250px;
}

.section2 {
    background-color: #ffff;
    color: black;
    height: 250px;
}

.section3 {
    background-color: #E5E7EB;
    height: 250px;
}

.section4 {
    background-color: #ffff;
    height: 250px;
}

.footer {
    background-color: #1F2937;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.spacer-start {
    flex: 1 1 auto;
}

.copyright {
    flex: 1 1 auto;
    width: 33%;
}

.spacer-end {
    flex: 1 1 auto;
}